@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: oklch(0.81 0.17 79.76);
  --color-primary-content: oklch(100% 0 0);
  --radius-box: 1rem;
}

@plugin "daisyui/theme" {
  name: 'dark';
  --color-primary: oklch(0.81 0.17 79.76);
  --color-primary-content: oklch(100% 0 0);
  --radius-box: 1rem;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/OpenSans.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('src/assets/fonts/OpenSans-Italic.ttf');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-italic: 'Open Sans Italic', serif;
}

html {
  background-color: var(--color-base-200);
}
body {
  overflow-y: scroll;
}

.input,
.textarea,
.select {
  &:focus,
  &:focus-within {
    outline: 0px solid var(--color-primary);
    outline-offset: 0px;
    border-color: var(--color-primary);
  }
}

.card-body {
  @media (max-width: 640px) {
    padding: 1rem;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
